@charset"UTF-8";

header {
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background: white url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: 20px center;
    flex-shrink: 0;
}

header div {
    float: right;
    background-color: #CCCCCC;
    border: 1px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-top: 15px;
    margin-right: 30px;
}

.available {
    background-color: #FF545F;
}